h1{
    color: brown;
}
h2{
    color: blue;
}
p{
    color:red
}
li:nth-child(odd){
    color: green;
}
li:nth-child(even){
    color: rgb(240, 244, 11);
}
input[type="text"]{
    color: deeppink;
}
input::placeholder{
    color: orange;
}
legend{
    color: violet;
}
.submit:hover{
    color: rgb(255, 77, 0);
}
a:hover{
    color: rgb(0, 255, 8);
}
